<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>承認選択</title>
    <link rel="stylesheet" th:href="@{/css/approval.css}">
</head>

<body>
    <div class="container">
        <h1>承認選択</h1>

        <!-- メール送信のスピナー -->
        <div class="spinner-overlay" id="spinner">
            <div class="spinner"></div>
            <div class="loading-text">入力されたメールアドレスに送信しています。</div>
        </div>

        <h2>選択ルート</h2>

        <form th:action="@{/sendMail}" method="post" onsubmit="showSpinner()">
            <div class="result">
				<h2>
					経路詳細
				</h2>

				<p> <strong>所要時間: </strong><span th:text="${commuterpassData.travelTimeTransportation}"></span>分 (交通機関) ・ <span th:text="${commuterpassData.travelTimeWalk}"></span>分 (徒歩)
				</p>
				<p> <strong>乗換回数: </strong><span th:text="${commuterpassData.transferCount}"></span>回
				</p>
				<p> <strong>運賃: </strong><span th:text="${commuterpassData.fare}"></span>円
				</p>

				<p class="teiki-prices">
					<strong>定期代 :</strong><br>
					1か月: <span th:text="${commuterpassData.teiki1}"></span>円<br>
					3か月: <span th:text="${commuterpassData.teiki3}"></span>円<br>
					6か月: <span th:text="${commuterpassData.teiki6}"></span>円<br>
				</p>

				<h3><strong>経路</strong></h3>
				<span th:text="${commuterpassData.routeInfo}"></span>
			</div>

            <br><br>

            <!-- メール送信情報 -->
            <p><strong>名前:</strong> <span th:text="${commuterpassData.employeename}"></span></p>
            <input type="hidden" name="employeename" th:value="${commuterpassData.employeename}">

            <p><strong>メールアドレス:</strong> <span th:text="${commuterpassData.mailaddress}"></span></p>
            <input type="hidden" name="mailaddress" th:value="${commuterpassData.mailaddress}">

            <br>

            <button type="submit" class="button">承認メールを送信</button>
            <button type="button" class="button" onclick="location.href='/admindashboard'">戻る</button>
        </form>
    </div>

    <script>
        function showSpinner() {
            document.getElementById('spinner').style.display = 'flex';
        }
        function hideSpinner() {
            document.getElementById('spinner').style.display = 'none';
        }
        window.addEventListener('load', hideSpinner);
    </script>

</body>

</html>
