<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>自転車通勤申請</title>
    <link rel="stylesheet" href="css/cpaf.css">
    <script src="js/noInput.js" defer></script>
    <!-- Google Maps API -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt_jbMEsT3nEBlqsAl1AUynOcBvxekWrI&libraries=places&callback=initMap"
        async defer>
    </script>
</head>

<body>
    <div class="container">
        <h1>自転車通勤申請</h1>
        <form th:action="@{/overwritesave/save}" method="post" th:object="${commuterpassData}">
            <label for="application_date">申請日</label>
            <input type="text" id="application_date" name="application_date" value="4月１日">

            <label for="user_id">社員番号</label>
            <input type="text" id="user_id" name="user_id" th:value="${username}">

            <label for="employeename">氏名</label>
            <input type="text" id="employeename" name="employeename" th:field="*{employeename}">

            <label for="kana_name">氏名(カナ)</label>
            <input type="text" id="kana_name" name="kana_name" th:field="*{kana_name}">

            <label for="affiliation">所属</label>
            <input type="text" id="affiliation" name="affiliation" value="新入社員">

            <label for="address">住所（出発地）</label>
            <input type="text" id="address" name="address" th:field="*{address}">

            <label for="end">目的地</label>
            <input id="end" type="text" value="千葉駅">

            <button type="button" onclick="calcRoute(event)">経路探索</button>

            <!-- MAP 表示エリア -->
            <div id="map" style="width: 100%; height: 400px;"></div>

            <!-- 経路情報 -->
            <label for="bic_move_distance">自転車所要距離</label>
            <input type="text" id="bic_move_distance" name="bic_move_distance" th:field="*{bic_move_distance}" disabled>

            <label for="bic_move_time">自転車所要時間</label>
            <input type="text" id="bic_move_time" name="bic_move_time" th:field="*{bic_move_time}" disabled>

            <label for="supportAmount">支給額 (円):</label>
            <input type="text" id="supportAmount" name="supportAmount" readonly>

            <br><br>

            <div class="example">
                <button type="submit" onClick="history.go(-1)">保存</button>
                <button type="button" onclick="history.go(-1)">戻る</button>
            </div>
        </form>
    </div>
</body>

</html>