<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>定期券代申請書一覧</title>
	<link rel="stylesheet" href="css/crdata.css"> <!-- CSSファイルをリンク -->
</head>

<body>
	<h1>定期券代申請一覧</h1>
	<a href="bicdata">自転車申請一覧に切り替える</a>
	<table>
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">名前</th>
				<th scope="col">メールアドレス</th>
				<th scope="col">住居・身上確認書</th>
				<th scope="col">承認ルート選択</th>
				<th scope="col">定期券承認可否</th>
				<th scope="col">定期券代申請書</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="data : ${commuterpassdata}">
                <td th:text="${data.username}"></td>
                <td th:text="${data.employeename}"></td>
                <td th:text="${data.mailaddress}"></td>
                <td><a href="ricdata">登録済</a></td>
                <td><a href="approval">送信済</a></td>
                <td><a href="replycpy">〇</a></td>
                <td><a href="commuterpass">作成済</a></td>
            </tr>
		</tbody>
	</table>
</body>

</html>