<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>登録ページ</title>
    <link rel="stylesheet" href="css/createidpass.css">
    <script>
        function handleSubmit(event) {
            event.preventDefault(); // フォームのデフォルト送信を防ぐ

            const formData = new FormData(event.target);

            fetch('/register', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('登録に失敗しました。');
                }
                return response.json(); // JSON形式でレスポンスを受け取る
            })
            .then(data => {
                alert('ユーザーID: ' + data.username + '\nロール: ' + data.role + ' が登録されました。');
                event.target.reset(); // フォームのリセット
            })
            .catch(error => {
                alert('登録に失敗しました。');
                console.error('Error:', error);
            });
        }
    </script>
</head>
<body>
    <form action="/register" method="post" onsubmit="handleSubmit(event)">
        <label for="role">Role:</label>
        <select name="role" id="role">
            <option value="admin">人事</option>
            <option value="general">新入社員</option>
        </select>
        <button type="submit">登録</button>
        <br><br>
        <button type="button" onclick="location.href='/admindashboard'">戻る</button>
    </form>
</body>
</html>