<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>承認選択ページ</title>
	<link rel="stylesheet" href="css/mailform.css">
</head>

<body>
	<div class="container">
		<h1>承認選択ページ</h1>
		<form th:action="@{/mailform/submit}" method="post">
			<p>ユーザー名: [[${username}]]</p>
			<p>下記のルートで定期券代申請が承認されました。</p>
			<p>承認ができない場合はその理由を記載してください。</p>
			<div class="result">
				<h2>
					経路詳細
				</h2>

				<p> <strong>所要時間: </strong><span th:text="${commuterpassData.travelTimeTransportation}"></span>分 (交通機関)
					・ <span th:text="${commuterpassData.travelTimeWalk}"></span>分 (徒歩)
				</p>
				<p> <strong>乗換回数: </strong><span th:text="${commuterpassData.transferCount}"></span>回
				</p>
				<p> <strong>運賃: </strong><span th:text="${commuterpassData.fare}"></span>円
				</p>

				<p class="teiki-prices">
					<strong>定期代 :</strong><br>
					1か月: <span th:text="${commuterpassData.teiki1}"></span>円<br>
					3か月: <span th:text="${commuterpassData.teiki3}"></span>円<br>
					6か月: <span th:text="${commuterpassData.teiki6}"></span>円<br>
				</p>

				<h3><strong>経路</strong></h3>
				<span th:text="${commuterpassData.routeInfo}"></span>
			</div>

			<br>

			<a href="http://localhost:8080/map" target="_blank">ルートを検索する</a>

			<br>
			<br>

			<div>
				<label for="select_approve">承認する</label>
				<input type="radio" id="select_approve_yes" name="select_approve" value="yes" th:checked="${commuterpassData.select_approve == '〇'}" />
			</div>

			<div>
				<label for="select_approve">承認しない</label>
				<input type="radio" id="select_approve_no" name="select_approve" value="no" th:checked="${commuterpassData.select_approve == '×' or commuterpassData.select_approve == null}" />
			</div>

			<br>

			<label for="reason">承認できない理由(150字)</label>
			<div>
				<textarea id="reason" name="reason" rows="5" cols="50" maxlength="150" ></textarea>
			</div>

			<br>

			<button type="submit" onClick="history.go(-1)">保存</button>

		</form>
	</div>
</body>

</html>