<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>住居・身上確認書</title>
	<link rel="stylesheet" href="css/ricpage.css">
</head>

<body>
	<div class="container">
		<h1>住居・身上確認書</h1>
		<form th:action="@{/ricpage/save}" method="post" th:object="${commuterpassData}">
			<p>ユーザーID: <span th:text="${username}"></span></p>

			<label for="employeename">氏名</label>
			<input type="text" id="employeename" name="employeename" th:field="*{employeename}" size="45">

			<label for="kana_name">氏名(カナ)</label>
			<input type="text" id="kana_name" name="kana_name" th:field="*{kana_name}" size="45">

			<label for="address">住所</label>
			<input type="text" id="address" name="address" th:field="*{address}" size="45">

			<label for="mailaddress">メールアドレス</label>
			<input type="text" id="mailaddress" name="mailaddress" th:field="*{mailaddress}" size="45">

			<label for="nearest_station">上記住所の最寄り駅</label>
			<input type="text" id="nearest_station" name="nearest_station" th:field="*{nearest_station}" size="45">

			<label for="arrival_station">到着駅</label>
			<input type="text" id="arrival_station" name="arrival_station" th:field="*{arrival_station}" size="45">

			<div class="routesearch_link">
				<a href="http://localhost:8080/map" target="_blank">ルートを検索する</a>
			</div>

			<br>

			<div class="bicycle_condition">
				<label for="use_bicycle">最寄り駅までの自転車の利用希望</label>
				<label class="toggle-button">
					<input type="checkbox" id="use_bicycle" name="use_bicycle" th:field="*{use_bicycle}"
						value="false" />
				</label>
			</div>

			<br>

			<label for="bic_move_distance">自転車移動距離</label>
			<input type="number" min="0" max="10" id="bic_move_distance" name="bic_move_distance" th:field="*{bic_move_distance}">

			<label for="bic_move_time">自転車移動時間</label>
			<input type="number" min="0" max="60" id="bic_move_time" name="bic_move_time" th:field="*{bic_move_time}" size="45">

			<br>
			<br>

			<div class="bus_condition">
				<label for="use_bus">最寄り駅までのバスの利用希望</label>
				<label class="toggle-button">
					<input type="checkbox" id="use_bus" name="use_bus" th:field="*{use_bus}" value="false" />
				</label>
			</div>

			<br>

			<label for="bus_arrival_station">バス停出発点</label>
			<input type="text" id="bus_arrival_station" name="bus_arrival_station" th:field="*{bus_arrival_station}"
				size="45">

			<label for="bus_departure_station">バス停到着点</label>
			<input type="text" id="bus_departure_station" name="bus_departure_station"
				th:field="*{bus_departure_station}" size="45">

			<br>
			<br>

			<button type="submit" onClick="history.go(-1)">保存</button>

		</form>
	</div>
</body>
<script src="js/addTextbox.js"></script>

</html>